# Dependencies and build files
node_modules/
.npm
.yarn

# Environment variables
.env
.env.local
.env.*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Netlify
.netlify/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
